tqdm
numpy
matplotlib
pandas
h5py
pyyaml
mrcfile
starfile
pillow > 8.1.2
opencv-python
scikit-image
tensorflow
ipython
notebook
ipywidgets  # ensure: jupyter nbextension enable --py widgetsnbextension
nest-asyncio
